IBKRRealTimeMarketDataApp/.vs/IBKRRealTimeMarketDataApp/FileContentIndex/179c75a4-bd8a-4ef6-aedc-8e242bce14db.vsidx
*.vsidx
*.v2
IBKRRealTimeMarketDataApp/.vs/IBKRRealTimeMarketDataApp/v17/.futdcache.v2
IBKRRealTimeMarketDataApp/.vs/IBKRRealTimeMarketDataApp/v17/DocumentLayout.backup.json
IBKRRealTimeMarketDataApp/.vs/IBKRRealTimeMarketDataApp/v17/DocumentLayout.json
/IBKRRealTimeMarketDataApp/.vs/IBKRRealTimeMarketDataApp/v17
IBKRRealTimeMarketDataApp/.vs/IBKRRealTimeMarketDataApp/v17/DocumentLayout.json
