USE [testdevrdbms]
GO
/****** Object:  View [dbo].[LatestRealTimeData]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[LatestRealTimeData]'))
DROP VIEW [dbo].[LatestRealTimeData]
GO
/****** Object:  View [dbo].[LatestRealTimeData]    Script Date: 10/10/2025 11:41:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[LatestRealTimeData] AS
WITH StringsCTE ([RowID], [_BarTS], [_Open], [_High], [_Low], [_Close],[_Volume],[_Count],[_WAP] )
AS (
SELECT
[RowID],
SUBSTRING([Token5],1,LEN([Token5])-1) AS [_BarTS],
 SUBSTRING([Token7],1,LEN([Token7])-1) AS [_Open],
 SUBSTRING([Token9],1,LEN([Token9])-1) AS [_High],
  SUBSTRING([Token11],1,LEN([Token11])-1) AS [_Low],
 SUBSTRING([Token13],1,LEN([Token13])-1) AS [_Close],
 SUBSTRING([Token15],1,LEN([Token15])-1) AS [_Volume],
 SUBSTRING([Token17],1,LEN([Token17])-1) AS [_Count],
 SUBSTRING([Token19],1,LEN([Token19])-1) AS [_WAP]
FROM [testdevrdbms].[dbo].[LoadLogMessage]
)
SELECT ll.*, 
DATEADD(SECOND, CONVERT(BIGINT, s.[_BarTS]), '1970-01-01 00:00:00') AS [BarTS]
, CASE WHEN ISNUMERIC(s.[_Open]) = 1 THEN CONVERT([decimal](10,2),[_Open]) ELSE NULL END AS [Open]
, CASE WHEN ISNUMERIC(s.[_High]) = 1 THEN CONVERT([decimal](10,2),[_High]) ELSE NULL END AS [High]
, CASE WHEN ISNUMERIC(s.[_Low]) = 1  THEN CONVERT([decimal](10,2),[_Low])  ELSE NULL END AS [Low]
, CASE WHEN ISNUMERIC(s.[_Volume]) = 1  THEN CONVERT([decimal](10,2),[_Volume])  ELSE NULL END AS [Volume]
, CASE WHEN ISNUMERIC(s.[_Count]) = 1  THEN CONVERT([decimal](10,2),[_Count])  ELSE NULL END AS [Count]
, CASE WHEN s.[_WAP]='-' THEN NULL ELSE CASE WHEN ISNUMERIC(s.[_WAP]) = 1  THEN CONVERT([decimal](10,2),[_WAP])  ELSE NULL END END AS [WAP]
FROM [testdevrdbms].[dbo].[LatestLoadLog] ll
JOIN [testdevrdbms].[dbo].[LoadLogMessage] llm ON ( llm.RowID = ll.RowID )
JOIN StringsCTE s ON ( s.RowID = ll.RowID )
WHERE llm.[Event] = 'RealTimeBars.' AND ll.LoadID = ( SELECT MAX(LoadID) FROM [testdevrdbms].[dbo].[LoadLogEntry] )
-- ORDER BY llm.[RowID] DESC
-- SELECT * FROM [testdevrdbms].[dbo].[LoadLogEntry]

GO
