USE [testdevrdbms]
GO
/****** Object:  View [dbo].[HistoricalDataProfile2]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[HistoricalDataProfile2]'))
DROP VIEW [dbo].[HistoricalDataProfile2]
GO
/****** Object:  View [dbo].[HistoricalDataProfile2]    Script Date: 10/10/2025 11:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[HistoricalDataProfile2] AS
SELECT SUM([CountRowID]) AS [SumCountRowID]
      ,[Symbol]
      ,[Date]
      ,[TimeInterval]
  FROM [testdevrdbms].[dbo].[HistoricalDataProfile]
  --WHERE [Symbol] = 'AAPL'
  GROUP BY [Symbol], [Date], [TimeInterval]

GO
