USE [testdevrdbms]
GO
/****** Object:  StoredProcedure [dbo].[InitLoadDetails]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InitLoadDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InitLoadDetails]
GO
/****** Object:  StoredProcedure [dbo].[InitLoadDetails]    Script Date: 10/10/2025 11:41:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[InitLoadDetails]
    @RowID           INT = -1,
    @Symbol          VARCHAR(MAX) = NULL,
    @SecType         VARCHAR(MAX) = NULL,
	@Right           VARCHAR(MAX) = NULL,
    @Expiry          VARCHAR(MAX) = NULL,
    @Strike          VARCHAR(MAX) = NULL,
    @RequestDate     VARCHAR(MAX) = NULL,
	@TimeInterval    VARCHAR(MAX) = NULL,
	@RequestID       VARCHAR(MAX) = NULL,
	@BeginTS         VARCHAR(MAX) = NULL,
	@EndTS           VARCHAR(MAX) = NULL,
	@BeginReqTS      VARCHAR(MAX) = NULL,
	@EndReqTS        VARCHAR(MAX) = NULL,
	@ProcessBeginTS  VARCHAR(MAX) = NULL,
    @ProcessEndReqTS VARCHAR(MAX) = NULL,
	@LoadID          INT = -1
AS
BEGIN

	SET NOCOUNT ON;

	INSERT INTO [testdevrdbms].[dbo].[LoadLogRequest]
	(
	     [LoadID]
		,[Symbol]
		,[SecType]
		,[Right]
		,[_Expiry]
		,[_Strike]
		,[_Date]
		,[TimeInterval]
		,[RequestID]
		,[_BeginTS]
		,[_EndTS]
	    ,[_BeginReqTS]
		,[_EndReqTS]
	)
	SELECT 
		  @LoadID          AS [LoadID]
		, @Symbol          AS [Symbol]
		, @SecType         AS [SecType]
		, @Right           AS [Right]
	    , @Expiry          AS [_Expiry]
		, @Strike          AS [_Strike]
		, @RequestDate     AS [_Date]
		, @TimeInterval    AS [TimeInterval]
		, @RequestID       AS [RequestID]
		, @BeginTS         AS [_BeginTS]
		, @EndTS           AS [_EndTS]
		, @BeginReqTS      AS [_BeginReqTS]
		, @EndReqTS        AS [_EndReqTS]

	SELECT SCOPE_IDENTITY() AS RowID

END
GO
