USE [testdevrdbms]
GO
/****** Object:  StoredProcedure [dbo].[SetLoadDetails]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SetLoadDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SetLoadDetails]
GO
/****** Object:  StoredProcedure [dbo].[SetLoadDetails]    Script Date: 10/10/2025 11:41:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SetLoadDetails]
    @RowID           INT = -1,
    @Symbol          VARCHAR(MAX) = NULL,
    @SecType         VARCHAR(MAX) = NULL,
	@Right           VARCHAR(MAX) = NULL,
    @Expiry          VARCHAR(MAX) = NULL,
    @Strike          VARCHAR(MAX) = NULL,
    @RequestDate     VARCHAR(MAX) = NULL,
	@TimeInterval    VARCHAR(MAX) = NULL,
	@RequestID       VARCHAR(MAX) = NULL,
	@BeginTS         VARCHAR(MAX) = NULL,
	@EndTS           VARCHAR(MAX) = NULL,
	@BeginReqTS      VARCHAR(MAX) = NULL,
	@EndReqTS        VARCHAR(MAX) = NULL,
	@ProcessBeginTS  VARCHAR(MAX) = NULL,
    @ProcessEndReqTS VARCHAR(MAX) = NULL,
	@LoadID          INT = -1
AS
BEGIN

	SET NOCOUNT ON;

	UPDATE [dbo].[LoadLogRequest]
	SET 
		 [Symbol] = @Symbol
		,[SecType] = @SecType
		,[_Strike] = @Strike
		,[_Expiry] = @Expiry
		,[Right] = @Right
		,[_Date] = @RequestDate
		,[TimeInterval] = @TimeInterval
		--,[RequestID] = @RequestID
		,[_BeginTS] = @BeginTS
		,[_EndTS] = @EndTS
		,[_BeginReqTS] = @BeginReqTS
		,[_EndReqTS] = @EndReqTS
		,[_ProcessBeginTS] = @ProcessBeginTS
		,[_ProcessEndReqTS] = @ProcessEndReqTS
	WHERE RowID = @RowID --LoadID = @LoadID

END
GO
