USE [testdevrdbms]
GO
/****** Object:  View [dbo].[HistoricalDataMismatch]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[HistoricalDataMismatch]'))
DROP VIEW [dbo].[HistoricalDataMismatch]
GO
/****** Object:  View [dbo].[HistoricalDataMismatch]    Script Date: 10/10/2025 11:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[HistoricalDataMismatch] AS
WITH DebugCTE ([RowID], [LoadDateTime], [Time])
AS 
(
    SELECT [RowID]
      ,[LoadDateTime]
      ,[Time]
  FROM [testdevrdbms].[dbo].[LatestHistoricalData] hd
  WHERE hd.[TimeInterval] = '5S' AND hd.[Symbol] = 'AAPL' AND hd.[Date] = '20250820' 
)
SELECT DISTINCT d.[RowID], d.[Time], ts.[TimeString]
FROM DebugCTE d
FULL OUTER JOIN [testdevrdbms].[dbo].[TimeSeries] ts ON ( ts.[TimeString] = d.[Time] )
WHERE [RowID] IS NULL OR ts.[TimeString] IS NULL
--WHERE ts.[TimeString] = '14:07:35'
--WHERE ts.[TimeString] IS NOT NULL
-- ORDER BY [TimeString] ASC
-- 140735
GO
