USE [testdevrdbms]
GO
/****** Object:  View [dbo].[DateTimeSeries]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[DateTimeSeries]'))
DROP VIEW [dbo].[DateTimeSeries]
GO
/****** Object:  View [dbo].[DateTimeSeries]    Script Date: 10/10/2025 11:41:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- 5 second increments from 09:30 to 16:00
CREATE VIEW [dbo].[DateTimeSeries] AS
WITH TimeSeriesCTE AS (
    -- Anchor Member: Define the starting point of the time series
    SELECT CAST('2025-01-01 09:30:00' AS DATETIME) AS TimeValue

    UNION ALL

    -- Recursive Member: Generate subsequent time values by adding one second
    SELECT DATEADD(second, 5, TimeValue)
    FROM TimeSeriesCTE
    WHERE TimeValue <= CAST('2025-01-01 15:59:50' AS DATETIME) -- Define the end point
)
SELECT TimeValue AS DateTimeValue,
 CAST(TimeValue AS TIME) AS TimeValue,
    DATEPART(HOUR, TimeValue) AS TimeHour,
    DATEPART(MINUTE, TimeValue) AS TimeMinute,
    DATEPART(SECOND, TimeValue) AS TimeSecond,
    CONVERT(VARCHAR(8), TimeValue, 108) AS TimeString 

FROM TimeSeriesCTE
    --OPTION (MAXRECURSION 500);

GO
