USE [testdevrdbms]
GO
/****** Object:  Table [dbo].[RealTimeData]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RealTimeData]') AND type in (N'U'))
DROP TABLE [dbo].[RealTimeData]
GO
/****** Object:  Table [dbo].[RealTimeData]    Script Date: 10/10/2025 11:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RealTimeData](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[Symbol] [varchar](200) NULL,
	[OptionType] [varchar](200) NULL,
	[_Strike] [varchar](200) NULL,
	[Expiry] [varchar](200) NULL,
	[TimeInterval] [varchar](200) NULL,
	[_BarTS] [varchar](200) NULL,
	[BarTS]  AS (case when isnumeric([_BarTS])=(1) then dateadd(second,CONVERT([bigint],[_BarTS]),'1970-01-01 00:00:00')  end),
	[_Open] [varchar](200) NULL,
	[_High] [varchar](200) NULL,
	[_Low] [varchar](200) NULL,
	[_Close] [varchar](200) NULL,
	[_Volume] [varchar](200) NULL,
	[_Count] [varchar](200) NULL,
	[_WAP] [varchar](200) NULL,
	[Strike]  AS (case when coalesce([OptionType],'')<>'' then CONVERT([decimal](10,2),[_Strike])  end),
	[Open]  AS (CONVERT([decimal](10,2),[_Open])),
	[High]  AS (CONVERT([decimal](10,2),[_High])),
	[Low]  AS (CONVERT([decimal](10,2),[_Low])),
	[Close]  AS (CONVERT([decimal](10,2),[_Close])),
	[Volume]  AS (CONVERT([int],(100)*CONVERT([decimal](10,2),[_Volume]))),
	[Count]  AS (CONVERT([int],CONVERT([decimal](10,2),[_Count])))
) ON [PRIMARY]
GO
