USE [testdevrdbms]
GO
/****** Object:  StoredProcedure [dbo].[LogMessage]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LogMessage]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[LogMessage]
GO
/****** Object:  StoredProcedure [dbo].[LogMessage]    Script Date: 10/10/2025 11:41:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[LogMessage]
	@Message VARCHAR(MAX) NULL = '',
	@LoadID INT = -1
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @MessageID INT

	SET @MessageID = ( SELECT MAX([MessageID]) FROM [LoadLog] WHERE [LoadID] = @LoadID )
	SET @MessageID = COALESCE(@MessageID, 0)
	SET @MessageID = @MessageID+1

	INSERT INTO [testdevrdbms].[dbo].[LoadLog] ( [LoadID], [MessageID], [Message] )
	VALUES ( @LoadID, @MessageID, COALESCE(@Message,'') )

	SELECT @MessageID AS MessageID
END
GO
