USE [testdevrdbms]
GO
/****** Object:  Table [dbo].[YieldCurve]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[YieldCurve]') AND type in (N'U'))
DROP TABLE [dbo].[YieldCurve]
GO
/****** Object:  Table [dbo].[YieldCurve]    Script Date: 10/10/2025 11:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YieldCurve](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[Term] [varchar](200) NULL,
	[_Yield] [varchar](200) NULL,
	[Yield]  AS (CONVERT([decimal](10,2),[_Yield])),
	[Date] [varchar](200) NULL
) ON [PRIMARY]
GO
