USE [testdevrdbms]
GO
/****** Object:  Table [dbo].[LoadLogRequest]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoadLogRequest]') AND type in (N'U'))
DROP TABLE [dbo].[LoadLogRequest]
GO
/****** Object:  Table [dbo].[LoadLogRequest]    Script Date: 10/10/2025 11:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoadLogRequest](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[LoadID] [int] NOT NULL,
	[Symbol] [varchar](20) NULL,
	[SecType] [varchar](20) NULL,
	[_Strike] [varchar](20) NULL,
	[_Expiry] [varchar](20) NULL,
	[Right] [varchar](20) NULL,
	[Strike]  AS (case when isnumeric([_Strike])=(1) then CONVERT([decimal](10,2),[_Strike]) when [_Strike]='-1' then NULL  end),
	[Expiry]  AS (case when isdate([_Expiry])=(1) then CONVERT([date],[_Expiry])  end),
	[_Date] [varchar](20) NULL,
	[Date]  AS (case when isdate([_Date])=(1) then CONVERT([date],[_Date])  end),
	[TimeInterval] [varchar](20) NULL,
	[RequestID] [varchar](200) NOT NULL,
	[_BeginTS] [varchar](200) NULL,
	[_EndTS] [varchar](200) NULL,
	[BeginTS]  AS (case when isdate([_BeginTS])=(1) then CONVERT([datetime],[_BeginTS])  end),
	[EndTS]  AS (case when isdate(substring([_EndTS],(1),(8)))=(1) then CONVERT([datetime],(substring([_EndTS],(1),(8))+' ')+substring([_EndTS],(10),(8)))  end),
	[_BeginReqTS] [varchar](200) NULL,
	[_EndReqTS] [varchar](200) NULL,
	[BeginReqDate]  AS (substring([_BeginReqTS],(1),charindex(' ',[_BeginReqTS])-(1))),
	[EndReqDate]  AS (substring([_EndReqTS],(1),charindex(' ',[_EndReqTS])-(1))),
	[_ProcessBeginTS] [varchar](200) NULL,
	[_ProcessEndReqTS] [varchar](200) NULL
) ON [PRIMARY]
GO
