USE [testdevrdbms]
GO
/****** Object:  StoredProcedure [dbo].[InitNewLoad]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InitNewLoad]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InitNewLoad]
GO
/****** Object:  StoredProcedure [dbo].[InitNewLoad]    Script Date: 10/10/2025 11:41:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[InitNewLoad]
	@Comments VARCHAR(MAX) NULL = '',
	@LoadID INT NULL OUTPUT
AS
BEGIN

	SET NOCOUNT ON;

	INSERT INTO [testdevrdbms].[dbo].[LoadLogEntry] ([Comments])
	VALUES ( COALESCE(@Comments,'') )

	SET @LoadID = SCOPE_IDENTITY();

	SELECT @LoadID AS LoadID, LoadDateTime
	FROM [testdevrdbms].[dbo].[LoadLogEntry]
	WHERE LoadID = @LoadID

END
GO
