USE [testdevrdbms]
GO
/****** Object:  Table [dbo].[LoadLog]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoadLog]') AND type in (N'U'))
DROP TABLE [dbo].[LoadLog]
GO
/****** Object:  Table [dbo].[LoadLog]    Script Date: 10/10/2025 11:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoadLog](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[LoadID] [int] NULL,
	[MessageID] [int] NOT NULL,
	[Message] [varchar](500) NULL,
	[Event]  AS (substring([Message],(1),charindex(' ',[Message])-(1)))
) ON [PRIMARY]
GO
