USE [testdevrdbms]
GO
/****** Object:  Table [dbo].[TimeSeries]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TimeSeries]') AND type in (N'U'))
DROP TABLE [dbo].[TimeSeries]
GO
/****** Object:  Table [dbo].[TimeSeries]    Script Date: 10/10/2025 11:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSeries](
	[DateTimeValue] [datetime] NULL,
	[TimeValue] [time](7) NULL,
	[TimeHour] [int] NULL,
	[TimeMinute] [int] NULL,
	[TimeSecond] [int] NULL,
	[TimeString] [varchar](8) NULL
) ON [PRIMARY]
GO
