USE [testdevrdbms]
GO
/****** Object:  StoredProcedure [dbo].[Work]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Work]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Work]
GO
/****** Object:  StoredProcedure [dbo].[Work]    Script Date: 10/10/2025 11:41:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[Work]
AS
BEGIN

	SET NOCOUNT ON;


/*
TRUNCATE TABLE [testdevrdbms].[dbo].[HistoricalData]
TRUNCATE TABLE [testdevrdbms].[dbo].[LoadLog]
TRUNCATE TABLE [testdevrdbms].[dbo].[LoadLogEntry]
TRUNCATE TABLE [testdevrdbms].[dbo].[LoadLogRequest]
*/


SELECT  [CountRowID]
    ,[Symbol]
    ,[Date]
    ,[Time]
    ,[OptionType]
    ,[Expiry]
    ,[TimeInterval]
    ,[Strike]
FROM [testdevrdbms].[dbo].[HistoricalDataProfile]

SELECT  [SumCountRowID]
    ,[Symbol]
    ,[Date]
    ,[TimeInterval]
FROM [testdevrdbms].[dbo].[HistoricalDataProfile2]

--USE testdevrdbms;
--GO

IF EXISTS(SELECT name FROM tempdb.sys.objects WHERE CHARINDEX('#missingdays',name)>0)  
    DROP TABLE #missingdays;

CREATE TABLE #missingdays
( [Symbol] VARCHAR(MAX), [Date] VARCHAR(MAX), [TimeInterval] VARCHAR(MAX) )

INSERT INTO #missingdays
EXEC  [dbo].[GetMissingTradingDays] 

SELECT * FROM #missingdays 

SELECT * FROM [testdevrdbms].[dbo].[LatestLoadLogRequestCountCheck]
ORDER BY [Symbol] ASC, [Date] ASC, [TimeInterval] ASC, [RequestID] ASC, [LoadID] ASC

SELECT * FROM [testdevrdbms].[dbo].[LatestLoadLogRequest]
ORDER BY [Symbol] ASC, [Date] ASC, [TimeInterval] ASC

END
GO
