USE [testdevrdbms]
GO
/****** Object:  View [dbo].[LatestLoadLogRequest]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[LatestLoadLogRequest]'))
DROP VIEW [dbo].[LatestLoadLogRequest]
GO
/****** Object:  View [dbo].[LatestLoadLogRequest]    Script Date: 10/10/2025 11:41:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[LatestLoadLogRequest] AS
SELECT [RowID]
      ,[LoadID]
      ,[Symbol]
      ,[SecType]
      ,[_Strike]
      ,[_Expiry]
      ,[Right]
      ,[Strike]
      ,[Expiry]
      ,[_Date]
      ,[Date]
      ,[TimeInterval]
      ,[RequestID]
      ,[_BeginTS]
      ,[_EndTS]
      ,[BeginTS]
      ,[EndTS]
      ,[_BeginReqTS]
      ,[_EndReqTS]
      ,[BeginReqDate]
      ,[EndReqDate]
      ,[_ProcessBeginTS]
      ,[_ProcessEndReqTS]
FROM [testdevrdbms].[dbo].[LoadLogRequest] lr
WHERE lr.LoadID = ( SELECT MAX(LoadID) FROM [testdevrdbms].[dbo].[LoadLogEntry] le )
-- GROUP BY [Symbol], [Date], [TimeInterval], [RequestID], [LoadID]
-- ORDER BY [Symbol] ASC, [Date] ASC, [TimeInterval] ASC, [RequestID] ASC, [LoadID] ASC



GO
