USE [testdevrdbms]
GO
/****** Object:  View [dbo].[HistoricalDataDupRowID2]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[HistoricalDataDupRowID2]'))
DROP VIEW [dbo].[HistoricalDataDupRowID2]
GO
/****** Object:  View [dbo].[HistoricalDataDupRowID2]    Script Date: 10/10/2025 11:41:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[HistoricalDataDupRowID2] AS
WITH DuplicateCount ( DupCount, [LoadDateTime], Symbol, [Date], [Time], TimeInterval ) AS
(
    SELECT COUNT([RowID]) AS DupCount
          ,[LoadDateTime]
          ,[Symbol]
          ,[Date]
          ,COALESCE([Time],'') AS [Time]
          ,[TimeInterval]
    FROM [testdevrdbms].[dbo].[HistoricalData]
    GROUP BY [Symbol]
            ,[Date]
            ,[Time]
            ,[TimeInterval]
            ,[LoadDateTime]
    HAVING COUNT([RowID]) > 1
)
SELECT 
    h.[RowID] AS DupRowID, 
    h.[LoadDateTime], 
    h.[Symbol], 
    h.[Date], 
    h.[Time], 
    h.[TimeInterval]
FROM DuplicateCount dp
JOIN [testdevrdbms].[dbo].[HistoricalData] h ON (
    h.[Symbol]         = dp.[Symbol]
AND h.[Date]           = dp.[Date]
AND h.[Time]           = dp.[Time]
AND h.[TimeInterval]   = dp.[TimeInterval]
AND h.[LoadDateTime]   = dp.[LoadDateTime]
)

GO
