USE [testdevrdbms]
GO
/****** Object:  View [dbo].[HistoricalDataCountCheck]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[HistoricalDataCountCheck]'))
DROP VIEW [dbo].[HistoricalDataCountCheck]
GO
/****** Object:  View [dbo].[HistoricalDataCountCheck]    Script Date: 10/10/2025 11:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[HistoricalDataCountCheck] AS
WITH
TestCTE ( [Symbol], [TimeInterval], [Date] )
AS
(
    SELECT s.[Symbol], ti.[TimeInterval], cd.[DateValue] AS [Date]
    FROM [testdevrdbms].[dbo].[QQQSymbols] s
    CROSS APPLY ( VALUES ('5 secs'), ('1 day') ) AS ti ( [TimeInterval] )
    JOIN [testdevrdbms].[dbo].[CalendarDays] cd 
        ON ( cd.[DayofWeekValue] NOT IN ( 'Saturday', 'Sunday' ) 
            AND [DateValue] >= DATEADD(day, -30, GETDATE()) )
),
CountCheckStepI ( [SumCountRowID], [Symbol], [Date], [TimeInterval], [Symbol2], [Date2], [TimeInterval2], [TodayDate], [CheckSumCountRowID], [MissingEntry] )
AS
(
    SELECT  [SumCountRowID]
          
          , h.[Symbol] AS [Symbol]
          , h.[Date]
          , h.[TimeInterval] AS [TimeInterval1]

          , tt.[Symbol] AS [Symbol2]
          , tt.[Date] AS [Date2]
          , tt.[TimeInterval] AS [TimeInterval2]

          , FORMAT(GETDATE(), 'yyyyMMdd') AS [TodayDate]

          , CASE WHEN h.[TimeInterval] = '1 day' THEN CAST(1 AS int) 
                 WHEN h.[TimeInterval] = '30 secs' THEN CAST(6.5*60*2 AS int)
                 WHEN h.[TimeInterval] = '5 secs' THEN CAST(6.5*60*12 AS int)
                 ELSE -1
            END AS [CheckSumCountRowID]

          ,   IIF( COALESCE(h.[TimeInterval],'') <> tt.[TimeInterval] OR 
                   COALESCE(h.[Symbol], '')  <> tt.[Symbol] OR
                   COALESCE(h.[Date], '') <> tt.[Date], 'ERROR', '' ) AS [MissingEntry]

      FROM [testdevrdbms].[dbo].[HistoricalDataProfile2] h
      RIGHT JOIN TestCTE tt ON (    tt.[Symbol] = h.[Symbol] 
                                AND h.[Date] = tt.[Date] 
                                AND h.[TimeInterval] = tt.[TimeInterval] )

--  ORDER  BY [Symbol] ASC,[Date] ASC,[TimeInterval] ASC
),
CountCheckStepII ( [SumCountRowID], [Symbol], [Date], [TimeInterval], [Symbol2], [Date2], [TimeInterval2], [TodayDate], [CheckSumCountRowID], [MissingEntry], [CountError] ) 
AS 
(
    SELECT 
          [SumCountRowID]
        , [Symbol]
        , [Date]
        , [TimeInterval]
        , [Symbol2]
        , [Date2]
        , [TimeInterval2]
        , [TodayDate]
        , [CheckSumCountRowID]
        , [MissingEntry] 
        , CASE WHEN [CheckSumCountRowID] <> [SumCountRowID] THEN 'ERROR' 
               ELSE ''
          END AS [CountError]
    FROM CountCheckStepI
),
CountCheckStepIII ( [SumCountRowID], [Symbol], [Date], [TimeInterval], [Symbol2], [Date2], [TimeInterval2], [TodayDate], [CheckSumCountRowID], [MissingEntry], [CountError], [Error] ) 
AS 
(
   SELECT cc.*,
       IIF( LTRIM(RTRIM(COALESCE([MissingEntry],'')+COALESCE([CountError],''))) = '', '', 'ERROR' ) AS [Error]  
    FROM CountCheckStepII cc
)
SELECT c.*
FROM CountCheckStepIII c
WHERE c.Error <> '' AND c.[Date2] >= DATEADD(day, -5, GETDATE())
-- ORDER BY [Symbol2] ASC, [Date2] ASC, [TimeInterval2] ASC
GO
