USE [testdevrdbms]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_LoadDateTime]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[LoadLogEntry] DROP CONSTRAINT [DF_LoadDateTime]
END
GO
/****** Object:  Table [dbo].[LoadLogEntry]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoadLogEntry]') AND type in (N'U'))
DROP TABLE [dbo].[LoadLogEntry]
GO
/****** Object:  Table [dbo].[LoadLogEntry]    Script Date: 10/10/2025 11:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoadLogEntry](
	[LoadID] [int] IDENTITY(1,1) NOT NULL,
	[_LoadDateTime] [varchar](20) NULL,
	[LoadDateTime]  AS (CONVERT([datetime],[_LoadDateTime])),
	[Comments] [varchar](200) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LoadLogEntry] ADD  CONSTRAINT [DF_LoadDateTime]  DEFAULT (getdate()) FOR [_LoadDateTime]
GO
