USE [testdevrdbms]
GO
/****** Object:  View [dbo].[LoadLogMessage]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[LoadLogMessage]'))
DROP VIEW [dbo].[LoadLogMessage]
GO
/****** Object:  View [dbo].[LoadLogMessage]    Script Date: 10/10/2025 11:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[LoadLogMessage] AS
 WITH TestCTE ([RowID], [LoadID], [LoadDateTime], [MessageID], [Message], [Event], P1, P2,P3,P4,P5  )  AS (
     
     SELECT [RowID]
          ,l.[LoadID]
          ,le.[LoadDateTime] 
          ,[MessageID]
          ,[Message]
          ,[Event]
          , CHARINDEX(' ',[Message]) AS P1
          , CHARINDEX(' ',[Message], CHARINDEX(' ',[Message])+1  ) AS P2
          , CHARINDEX(' ',[Message], CHARINDEX(' ',[Message], CHARINDEX(' ',[Message])+1)+1) AS P3
          , CHARINDEX(' ',[Message], CHARINDEX(' ',[Message], CHARINDEX(' ',[Message], CHARINDEX(' ',[Message])+1)+1 ) + 1) AS P4
          , CHARINDEX(' ',[Message], CHARINDEX(' ',[Message], CHARINDEX(' ',[Message], CHARINDEX(' ',[Message], CHARINDEX(' ',[Message])+1)+1 ) + 1)+1) AS P5
    FROM [testdevrdbms].[dbo].[LoadLog] l
    JOIN [testdevrdbms].[dbo].[LoadLogEntry] le ON ( l.LoadID = le.LoadID )
    WHERE le.LoadID = ( SELECT MAX(LoadID) FROM [testdevrdbms].[dbo].[LoadLogEntry] )
          AND ( CHARINDEX('pulse', l.[Message]) = 0 )

), 
SecondTestCTE ([RowID], [Message], P6, P7, P8, P9, P10) AS (
    SELECT 
          [RowID]
        , t.[Message]
        , CHARINDEX(' ',t.[Message], t.P5+1) AS P6 
        , CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], t.P5+1)+1) AS P7 
        , CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], t.P5+1)+1)+1) AS P8
        , CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], t.P5+1)+1)+1) +1) AS P9 
        , CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], t.P5+1)+1)+1) +1) +1) AS P10 
    FROM TestCTE t
),
ThirdTestCTE ([RowID],[Message], P11, P12, P13, P14, P15) AS (
    SELECT 
          t.[RowID]
        , t.[Message]
        , CHARINDEX(' ',t.[Message], t.P10+1) AS P11 
        , CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], t.P10+1)+1) AS P12 
        , CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], t.P10+1)+1)+1) AS P13
        , CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], t.P10+1)+1)+1) +1) AS P14 
        , CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], t.P10+1)+1)+1) +1) +1) AS P15 
    FROM SecondTestCTE t
),
FourthTestCTE ([RowID],[Message], P16, P17, P18, P19, P20) AS (
    SELECT 
          t.[RowID]
        , t.[Message]
        , CHARINDEX(' ',t.[Message], t.P15+1) AS P16 
        , CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], t.P15+1)+1) AS P17 
        , CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], t.P15+1)+1)+1) AS P18
        , CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], t.P15+1)+1)+1) +1) AS P19 
        , CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], t.P15+1)+1)+1) +1) +1) AS P20 
    FROM ThirdTestCTE t
),
FifthTestCTE ([RowID],[Message],MessageLen, P21, P22, P23, P24, P25) AS (
    SELECT 
          t.[RowID]
        , t.[Message]
        , LEN(t.[Message])
        , CHARINDEX(' ',t.[Message], t.P20+1) AS P21 
        , CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], t.P20+1)+1) AS P22 
        , CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], t.P20+1)+1)+1) AS P23
        , CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], t.P20+1)+1)+1) +1) AS P24 
        , CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], CHARINDEX(' ',t.[Message], t.P20+1)+1)+1) +1) +1) AS P25 
    FROM FourthTestCTE t
)
SELECT t.[RowID]
,[LoadDateTime]
          ,[MessageID]
          ,t.[Message]
          ,[Event]
          ,MessageLen
          , CASE WHEN P25 < LEN(t.[Message]) THEN 'COMPLETE' ELSE 'INCOMPLETE' END AS TokenIndicator
          ,P1, P2,P3,P4,P5, P6, P7, P8, P9, P10, P11, P12, P13, P14, P15, P16, P17, P18, P19, P20, P21, P22, P23, P24, P25
         , CASE WHEN IIF( P1=0, MessageLen+1, P1) - 1>0 THEN SUBSTRING(t.[Message],1,IIF( P1=0, MessageLen+1, P1)-1) ELSE '' END AS Token1
, CASE WHEN IIF( P2=0, MessageLen+1, P2) -P1-1>0 THEN SUBSTRING(t.[Message],P1+1, IIF( P2=0, MessageLen+1, P2) -P1-1) ELSE '' END AS Token2
, CASE WHEN IIF( P3=0, MessageLen+1, P3) -P2-1>0 THEN SUBSTRING(t.[Message],P2+1, IIF( P3=0, MessageLen+1, P3) -P2-1) ELSE '' END AS Token3
, CASE WHEN IIF( P4=0, MessageLen+1, P4) -P3-1>0 THEN SUBSTRING(t.[Message],P3+1, IIF( P4=0, MessageLen+1, P4) -P3-1) ELSE '' END AS Token4
, CASE WHEN IIF( P5=0, MessageLen+1, P5) -P4-1>0 THEN SUBSTRING(t.[Message],P4+1, IIF( P5=0, MessageLen+1, P5) -P4-1) ELSE '' END AS Token5
, CASE WHEN IIF( P6=0, MessageLen+1, P6) -P5-1>0 THEN SUBSTRING(t.[Message],P5+1, IIF( P6=0, MessageLen+1, P6) -P5-1) ELSE '' END AS Token6
, CASE WHEN IIF( P7=0, MessageLen+1, P7) -P6-1>0 THEN SUBSTRING(t.[Message],P6+1, IIF( P7=0, MessageLen+1, P7) -P6-1) ELSE '' END AS Token7
, CASE WHEN IIF( P8=0, MessageLen+1, P8) -P7-1>0 THEN SUBSTRING(t.[Message],P7+1, IIF( P8=0, MessageLen+1, P8) -P7-1) ELSE '' END AS Token8
, CASE WHEN IIF( P9=0, MessageLen+1, P9) -P8-1>0 THEN SUBSTRING(t.[Message],P8+1, IIF( P9=0, MessageLen+1, P9) -P8-1) ELSE '' END AS Token9
, CASE WHEN IIF( P10=0, MessageLen+1, P10) -P9-1>0 THEN SUBSTRING(t.[Message],P9+1, IIF( P10=0, MessageLen+1, P10) -P9-1) ELSE '' END AS Token10
, CASE WHEN IIF( P11=0, MessageLen+1, P11) -P10-1>0 THEN SUBSTRING(t.[Message],P10+1, IIF( P11=0, MessageLen+1, P11) -P10-1) ELSE '' END AS Token11
, CASE WHEN IIF( P12=0, MessageLen+1, P12) -P11-1>0 THEN SUBSTRING(t.[Message],P11+1, IIF( P12=0, MessageLen+1, P12) -P11-1) ELSE '' END AS Token12
, CASE WHEN IIF( P13=0, MessageLen+1, P13) -P12-1>0 THEN SUBSTRING(t.[Message],P12+1, IIF( P13=0, MessageLen+1, P13) -P12-1) ELSE '' END AS Token13
, CASE WHEN IIF( P14=0, MessageLen+1, P14) -P13-1>0 THEN SUBSTRING(t.[Message],P13+1, IIF( P14=0, MessageLen+1, P14) -P13-1) ELSE '' END AS Token14
, CASE WHEN IIF( P15=0, MessageLen+1, P15) -P14-1>0 THEN SUBSTRING(t.[Message],P14+1, IIF( P15=0, MessageLen+1, P15) -P14-1) ELSE '' END AS Token15
, CASE WHEN IIF( P16=0, MessageLen+1, P16) -P15-1>0 THEN SUBSTRING(t.[Message],P15+1, IIF( P16=0, MessageLen+1, P16) -P15-1) ELSE '' END AS Token16
, CASE WHEN IIF( P17=0, MessageLen+1, P17) -P16-1>0 THEN SUBSTRING(t.[Message],P16+1, IIF( P17=0, MessageLen+1, P17) -P16-1) ELSE '' END AS Token17
, CASE WHEN IIF( P18=0, MessageLen+1, P18) -P17-1>0 THEN SUBSTRING(t.[Message],P17+1, IIF( P18=0, MessageLen+1, P18) -P17-1) ELSE '' END AS Token18
, CASE WHEN IIF( P19=0, MessageLen+1, P19) -P18-1>0 THEN SUBSTRING(t.[Message],P18+1, IIF( P19=0, MessageLen+1, P19) -P18-1) ELSE '' END AS Token19
, CASE WHEN IIF( P20=0, MessageLen+1, P20) -P19-1>0 THEN SUBSTRING(t.[Message],P19+1, IIF( P20=0, MessageLen+1, P20) -P19-1) ELSE '' END AS Token20
, CASE WHEN IIF( P21=0, MessageLen+1, P21) -P20-1>0 THEN SUBSTRING(t.[Message],P20+1, IIF( P21=0, MessageLen+1, P21) -P20-1) ELSE '' END AS Token21
, CASE WHEN IIF( P22=0, MessageLen+1, P22) -P21-1>0 THEN SUBSTRING(t.[Message],P21+1, IIF( P22=0, MessageLen+1, P22) -P21-1) ELSE '' END AS Token22
, CASE WHEN IIF( P23=0, MessageLen+1, P23) -P22-1>0 THEN SUBSTRING(t.[Message],P22+1, IIF( P23=0, MessageLen+1, P23) -P22-1) ELSE '' END AS Token23
, CASE WHEN IIF( P24=0, MessageLen+1, P24) -P23-1>0 THEN SUBSTRING(t.[Message],P23+1, IIF( P24=0, MessageLen+1, P24) -P23-1) ELSE '' END AS Token24
, CASE WHEN IIF( P25=0, MessageLen+1, P25) -P24-1>0 THEN SUBSTRING(t.[Message],P24+1, IIF( P25=0, MessageLen+1, P25) -P24-1) ELSE '' END AS Token25
FROM TestCTE t
JOIN SecondTestCTE s ON ( t.[RowID] = s.[RowID] )
JOIN ThirdTestCTE u ON ( t.[RowID] = u.[RowID] )
JOIN FourthTestCTE v ON ( t.[RowID] = v.[RowID] )
JOIN FifthTestCTE w ON ( t.[RowID] = w.[RowID] ) 
-- ORDER BY [RowID]

  
GO
