USE [testdevrdbms]
GO
/****** Object:  View [dbo].[LatestFundHoldings]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[LatestFundHoldings]'))
DROP VIEW [dbo].[LatestFundHoldings]
GO
/****** Object:  View [dbo].[LatestFundHoldings]    Script Date: 10/10/2025 11:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LatestFundHoldings] AS
WITH MaxDateCTE (RowID, MaxDate ) AS 
(
    SELECT MAX(RowID) as RowID, [Date] AS MaxDate
    FROM [testdevrdbms].[dbo].[FundHoldings]
    GROUP BY [Date]
)
SELECT 
           f.[RowID]
          ,[Fund]
          ,[Symbol]
          ,[SecurityIdentifier]
          ,[_SharesParValue]
          ,[_MarketValue]
          ,[_Weight]
          ,[Name]
          ,[Sector]
          ,[Date]
          ,[SharesParValue]
          ,[MarketValue]
          ,[Weight]
FROM [testdevrdbms].[dbo].[FundHoldings] f
JOIN MaxDateCTE m ON ( f.[Date] = m.[MaxDate] )
GO
