USE [testdevrdbms]
GO
/****** Object:  View [dbo].[LatestLoadLogRequestCountCheck]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[LatestLoadLogRequestCountCheck]'))
DROP VIEW [dbo].[LatestLoadLogRequestCountCheck]
GO
/****** Object:  View [dbo].[LatestLoadLogRequestCountCheck]    Script Date: 10/10/2025 11:41:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[LatestLoadLogRequestCountCheck] AS
SELECT COUNT(RowID) AS RequestCount, [LoadID], [Symbol], [Strike], [Expiry], [Date], [TimeInterval], [RequestID]
FROM [testdevrdbms].[dbo].[LoadLogRequest] lr
WHERE lr.LoadID = ( SELECT MAX(LoadID) FROM [testdevrdbms].[dbo].[LoadLogEntry] le )
GROUP BY [Symbol], [Strike], [Expiry], [Date], [TimeInterval], [RequestID], [LoadID]
-- ORDER BY [Symbol] ASC, [Date] ASC, [TimeInterval] ASC, [RequestID] ASC, [LoadID] ASC



GO
