USE [testdevrdbms]
GO
/****** Object:  View [dbo].[LatestLoadLog]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[LatestLoadLog]'))
DROP VIEW [dbo].[LatestLoadLog]
GO
/****** Object:  View [dbo].[LatestLoadLog]    Script Date: 10/10/2025 11:41:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[LatestLoadLog] AS
SELECT l.[RowID]
      ,l.[LoadID]
      ,l.[MessageID]
      ,l.[Message]
      ,l.[Event]
      , CASE WHEN l.[Event] = 'HistoricalData.'   THEN lm.[Token2] 
             WHEN l.[Event] = 'HistoricalDataEnd' THEN lm.[Token3]
             WHEN l.[Event] = 'Error.'            THEN SUBSTRING(lm.[Token3],1,CHARINDEX(',',lm.[Token3])-1)
             WHEN l.[Event] = 'GetStockRequestSingleDay' THEN lm.[Token14]
             WHEN l.[Event] = 'RealTimeBars.' THEN lm.[Token2]
             ELSE NULL 
        END AS RequestID
  FROM [testdevrdbms].[dbo].[LoadLog] l
  LEFT JOIN [testdevrdbms].[dbo].[LoadLogMessage] lm ON ( lm.[RowID] = l.[RowID] )
  WHERE l.LoadID = ( SELECT MAX(le.LoadID) FROM [testdevrdbms].[dbo].[LoadLogEntry] le )
        AND CHARINDEX('pulse', l.[Message]) = 0
GO
