USE [testdevrdbms]
GO
/****** Object:  View [dbo].[TableRowCounts]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[TableRowCounts]'))
DROP VIEW [dbo].[TableRowCounts]
GO
/****** Object:  View [dbo].[TableRowCounts]    Script Date: 10/10/2025 11:41:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5 second increments from 09:30 to 16:00
CREATE VIEW [dbo].[TableRowCounts] AS
SELECT
    QUOTENAME(SCHEMA_NAME(sOBJ.schema_id)) + '.' + QUOTENAME(sOBJ.name) AS [TableName],
    SUM(sdmvPTNS.row_count) AS [RowCount]
FROM
    sys.objects AS sOBJ
INNER JOIN
    sys.dm_db_partition_stats AS sdmvPTNS ON sOBJ.object_id = sdmvPTNS.object_id
WHERE
    sOBJ.type = 'U' -- 'U' for User-defined tables
    AND sOBJ.is_ms_shipped = 0x0 -- Exclude system tables
    AND sdmvPTNS.index_id < 2 -- Include heap and clustered index partitions
GROUP BY
    sOBJ.schema_id, sOBJ.name
-- ORDER BY [TableName];
GO
