USE [testdevrdbms]
GO
/****** Object:  Table [dbo].[OptionsChain]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OptionsChain]') AND type in (N'U'))
DROP TABLE [dbo].[OptionsChain]
GO
/****** Object:  Table [dbo].[OptionsChain]    Script Date: 10/10/2025 11:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OptionsChain](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[Symbol] [varchar](50) NULL,
	[Exchange] [varchar](50) NULL,
	[SecType] [varchar](50) NULL,
	[Right] [varchar](50) NULL,
	[Expirations] [varchar](max) NULL,
	[Strikes] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
