USE [testdevrdbms]
GO
/****** Object:  StoredProcedure [dbo].[DeleteDupHistoricalData]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DeleteDupHistoricalData]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DeleteDupHistoricalData]
GO
/****** Object:  StoredProcedure [dbo].[DeleteDupHistoricalData]    Script Date: 10/10/2025 11:41:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteDupHistoricalData]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DELETE [testdevrdbms].[dbo].[HistoricalData]
	FROM [testdevrdbms].[dbo].[HistoricalData] dh
	JOIN [testdevrdbms].[dbo].[HistoricalDataDupRowID] ddh ON ( dh.RowID = ddh.DupRowID )

	DELETE [testdevrdbms].[dbo].[HistoricalData]
	FROM [testdevrdbms].[dbo].[HistoricalData] dh
	JOIN [testdevrdbms].[dbo].[HistoricalDataDupRowID2] ddh ON ( dh.RowID = ddh.DupRowID )
END
GO
