USE [testdevrdbms]
GO
/****** Object:  StoredProcedure [dbo].[GetMissingTradingDays]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetMissingTradingDays]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetMissingTradingDays]
GO
/****** Object:  StoredProcedure [dbo].[GetMissingTradingDays]    Script Date: 10/10/2025 11:41:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[GetMissingTradingDays]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT [Symbol2] AS [Symbol], [Date2] AS [Date], [TimeInterval2] AS [TimeInterval]
	FROM [testdevrdbms].[dbo].[HistoricalDataCountCheck] 
	WHERE COALESCE([Error],'') <> '' AND [Date2] > DATEADD(day, -5, GETDATE()) 
	      AND ( CAST(GETDATE() AS TIME) > CONVERT(TIME, '16:00:00') OR [Date2] < CAST(GETDATE() AS DATE) )  
	ORDER BY [Symbol2] ASC, [Date2] ASC, [TimeInterval2] ASC

END
GO
