USE [testdevrdbms]
GO
/****** Object:  View [dbo].[QQQSymbols]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[QQQSymbols]'))
DROP VIEW [dbo].[QQQSymbols]
GO
/****** Object:  View [dbo].[QQQSymbols]    Script Date: 10/10/2025 11:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[QQQSymbols] AS
WITH QQQTopSymbols ([RowID])
AS 
(
    SELECT TOP 19 [RowID]
    FROM [testdevrdbms].[dbo].[LatestFundHoldings]
    ORDER BY [Weight] DESC, [Symbol] ASC
)
SELECT h.[Symbol],hh.[PosIndex] As [Index]
FROM [testdevrdbms].[dbo].[LatestFundHoldings] h
JOIN QQQTopSymbols s ON ( s.RowID = h.RowID )
JOIN [testdevrdbms].[dbo].[FundHoldings] hh ON ( s.[RowID] = hh.[RowID] )
--ORDER BY [Symbol] ASC
GO
