USE [testdevrdbms]
GO
/****** Object:  View [dbo].[LoadLogMessage2]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[LoadLogMessage2]'))
DROP VIEW [dbo].[LoadLogMessage2]
GO
/****** Object:  View [dbo].[LoadLogMessage2]    Script Date: 10/10/2025 11:41:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[LoadLogMessage2] AS
WITH StringSplitter ([RowID], ItemOrder, [Message], Item, RemainingString)  AS (
    -- Anchor member: Get the first part and the remaining string
    SELECT
        l.[RowID],
        1 AS ItemOrder,
        [Message],
        CAST( SUBSTRING([Message], 1, CHARINDEX(' ', [Message] + ' ') - 1) AS VARCHAR(MAX)) AS Item,
        SUBSTRING([Message] + ' ', CHARINDEX(' ', [Message] + ' ') + 1, LEN([Message])) AS RemainingString
    FROM [testdevrdbms].[dbo].[LoadLog] l
    WHERE CHARINDEX(' ', [Message]) > 0

    UNION ALL

    -- Recursive member: Get the next part and the remaining string
    SELECT
        [RowID],
        ItemOrder + 1,
        [Message],
        CAST( SUBSTRING(RemainingString, 1, CHARINDEX(' ', RemainingString) - 1) AS VARCHAR(MAX)) AS Item,
        SUBSTRING(RemainingString, CHARINDEX(' ', RemainingString) + 1, LEN(RemainingString))
    FROM StringSplitter
    WHERE CHARINDEX(' ', RemainingString) > 0
)
SELECT [RowID], [Message], ItemOrder, Item
FROM StringSplitter
-- ORDER BY [RowID] ASC, ItemOrder ASC --[Message], ItemOrder;  
GO
