USE [testdevrdbms]
GO
/****** Object:  View [dbo].[DupCheckHistoricalData]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[DupCheckHistoricalData]'))
DROP VIEW [dbo].[DupCheckHistoricalData]
GO
/****** Object:  View [dbo].[DupCheckHistoricalData]    Script Date: 10/10/2025 11:41:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[DupCheckHistoricalData] AS
SELECT COUNT([RowID]) AS DupCount
      ,[Symbol]
      ,[Date]
      ,COALESCE([Time],'') AS [Time]
      ,[TimeInterval]
FROM [testdevrdbms].[dbo].[HistoricalData]
GROUP BY   [Symbol]
         , [Date]
         , [Time]
         , [TimeInterval]
HAVING COUNT([RowID]) > 1


GO
