USE [testdevrdbms]
GO
/****** Object:  View [dbo].[HistoricalDataProfile]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[HistoricalDataProfile]'))
DROP VIEW [dbo].[HistoricalDataProfile]
GO
/****** Object:  View [dbo].[HistoricalDataProfile]    Script Date: 10/10/2025 11:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[HistoricalDataProfile] AS
SELECT COUNT([RowID]) AS CountRowID
      --,[LoadDateTime]
      ,[Symbol]
      ,[Date]
      ,[Time]
      ,[OptionType]
      ,[Expiry]
      ,[TimeInterval]
      ,[Strike]
  FROM [testdevrdbms].[dbo].[HistoricalData]
  GROUP BY --[LoadDateTime]
       [Symbol]
      ,[Date]
      ,[Time]
      ,[OptionType]
      ,[Expiry]
      ,[TimeInterval]
      ,[Strike]
  --ORDER BY [Symbol] ASC, [Date], [Time], [OptionType], [Expiry], [TimeInterval], [Strike]


GO
