USE [testdevrdbms]
GO
/****** Object:  View [dbo].[CalendarDays]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[CalendarDays]'))
DROP VIEW [dbo].[CalendarDays]
GO
/****** Object:  View [dbo].[CalendarDays]    Script Date: 10/10/2025 11:41:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[CalendarDays] AS
WITH DateSeries ( DateValue ) AS (
    SELECT CAST(GETDATE() AS DATE) AS DateValue
    UNION ALL
    SELECT DATEADD(DAY, -1, DateValue)
    FROM DateSeries ds
    WHERE ( DateValue > DATEADD(DAY, -100, CAST(GETDATE() AS DATE) ) )
)
SELECT DateValue, DATENAME(WEEKDAY, DateValue) AS DayofWeekValue

FROM DateSeries
-- ORDER BY DateValue ASC


GO
