USE [testdevrdbms]
GO
/****** Object:  User [ibkrtestdev]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT * FROM sys.database_principals WHERE name = N'ibkrtestdev')
DROP USER [ibkrtestdev]
GO
/****** Object:  User [ibkrtestdev]    Script Date: 10/10/2025 11:41:11 AM ******/
CREATE USER [ibkrtestdev] FOR LOGIN [ibkrtestdev] WITH DEFAULT_SCHEMA=[dbo]
GO
