USE [master]
GO
/****** Object:  Database [testdevrdbms]    Script Date: 10/10/2025 11:41:10 AM ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'testdevrdbms')
DROP DATABASE [testdevrdbms]
GO
/****** Object:  Database [testdevrdbms]    Script Date: 10/10/2025 11:41:10 AM ******/
CREATE DATABASE [testdevrdbms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'testdevrdbms', FILENAME = N'C:\WORK\rdbms\testdevrdbms.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'testdevrdbms_log', FILENAME = N'C:\WORK\rdbms\testdevrdbms_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testdevrdbms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
