USE [testdevrdbms]
GO
/****** Object:  View [dbo].[LatestHistoricalData]    Script Date: 8/12/2025 1:30:02 PM ******/
DROP VIEW [dbo].[LatestHistoricalData]
GO
/****** Object:  View [dbo].[LatestHistoricalData]    Script Date: 8/12/2025 1:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[LatestHistoricalData] AS
WITH MaxRowDateCTE (RowID, [LoadDateTime], [Date], [Symbol], [Time],[_Open]
    ,[_High]
    ,[_Low]
    ,[_Close]
    ,[_Volume]
    ,[_Count]
    ,[_WAP]
    ,[OptionType]
    ,[_Strike]
    ,[Expiry]
    ,[TimeInterval]
    ,[Strike] ) AS 
(
    SELECT 
        MAX(RowID) AS RowID,
        [LoadDateTime] AS [LoadDateTime],
        [Symbol], 
        [Date] AS [Date], 
        [Time],
        [_Open]
    ,[_High]
    ,[_Low]
    ,[_Close]
    ,[_Volume]
    ,[_Count]
    ,[_WAP]
    ,[OptionType]
    ,[_Strike]
    ,[Expiry]
    ,[TimeInterval]
    ,[Strike]
    FROM [testdevrdbms].[dbo].[HistoricalData]
    GROUP BY [Date], [LoadDateTime], [Symbol], [Time],[_Open]
    ,[_High]
    ,[_Low]
    ,[_Close]
    ,[_Volume]
    ,[_Count]
    ,[_WAP]
    ,[OptionType]
    ,[_Strike]
    ,[Expiry]
    ,[TimeInterval]
    ,[Strike]
)
SELECT 
    f.[RowID], f.[LoadDateTime]
    ,f.[Symbol]
    ,f.[Date]
    ,f.[Time]
    ,f.[_Open]
    ,f.[_High]
    ,f.[_Low]
    ,f.[_Close]
    ,f.[_Volume]
    ,f.[_Count]
    ,f.[_WAP]
    ,f.[OptionType]
    ,f.[_Strike]
    ,f.[Expiry]
    ,f.[TimeInterval]
    ,f.[Strike]
    ,f.[Open]
    ,f.[High]
    ,f.[Low]
    ,f.[Close]
    ,f.[Volume]
    ,f.[Count]
FROM [testdevrdbms].[dbo].[HistoricalData] f
JOIN MaxRowDateCTE m ON ( f.[RowID] = m.[RowID]
)
GO
