USE [testdevrdbms]
GO
/****** Object:  View [dbo].[DupCheckHistoricalData]    Script Date: 8/12/2025 1:30:02 PM ******/
DROP VIEW [dbo].[DupCheckHistoricalData]
GO
/****** Object:  View [dbo].[DupCheckHistoricalData]    Script Date: 8/12/2025 1:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[DupCheckHistoricalData] AS
SELECT COUNT([RowID]) AS DupCount
      ,[Symbol]
      ,[Date]
      ,COALESCE([Time],'') AS [Time]
      ,[TimeInterval]
FROM [testdevrdbms].[dbo].[HistoricalData]
GROUP BY   [Symbol]
         , [Date]
         , [Time]
         , [TimeInterval]
HAVING COUNT([RowID]) > 1


GO
