USE [testdevrdbms]
GO
/****** Object:  Table [dbo].[SecurityDetails]    Script Date: 8/12/2025 1:30:02 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SecurityDetails]') AND type in (N'U'))
DROP TABLE [dbo].[SecurityDetails]
GO
/****** Object:  Table [dbo].[SecurityDetails]    Script Date: 8/12/2025 1:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityDetails](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[ConId] [varchar](200) NULL,
	[Symbol] [varchar](200) NULL
) ON [PRIMARY]
GO
