USE [testdevrdbms]
GO
/****** Object:  View [dbo].[CalendarDays]    Script Date: 8/12/2025 1:30:02 PM ******/
DROP VIEW [dbo].[CalendarDays]
GO
/****** Object:  View [dbo].[CalendarDays]    Script Date: 8/12/2025 1:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[CalendarDays] AS
WITH DateSeries ( DateValue ) AS (
    SELECT CAST(GETDATE() AS DATE) AS DateValue
    UNION ALL
    SELECT DATEADD(DAY, -1, DateValue)
    FROM DateSeries ds
    WHERE ( DateValue > DATEADD(DAY, -100, CAST(GETDATE() AS DATE) ) )
)
SELECT DateValue
FROM DateSeries
-- ORDER BY DateValue ASC


GO
