USE [testdevrdbms]
GO
/****** Object:  View [dbo].[HistoricalDataProfile]    Script Date: 8/12/2025 1:30:02 PM ******/
DROP VIEW [dbo].[HistoricalDataProfile]
GO
/****** Object:  View [dbo].[HistoricalDataProfile]    Script Date: 8/12/2025 1:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[HistoricalDataProfile] AS
SELECT COUNT([RowID]) AS CountRowID
      --,[LoadDateTime]
      ,[Symbol]
      ,[Date]
      ,[Time]
      ,[OptionType]
      ,[Expiry]
      ,[TimeInterval]
      ,[Strike]
  FROM [testdevrdbms].[dbo].[HistoricalData]
  GROUP BY --[LoadDateTime]
       [Symbol]
      ,[Date]
      ,[Time]
      ,[OptionType]
      ,[Expiry]
      ,[TimeInterval]
      ,[Strike]
  --ORDER BY [Symbol] ASC, [Date], [Time], [OptionType], [Expiry], [TimeInterval], [Strike]


GO
