USE [testdevrdbms]
GO
/****** Object:  View [dbo].[HistoricalDataCountCheck]    Script Date: 8/12/2025 1:30:02 PM ******/
DROP VIEW [dbo].[HistoricalDataCountCheck]
GO
/****** Object:  View [dbo].[HistoricalDataCountCheck]    Script Date: 8/12/2025 1:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[HistoricalDataCountCheck] AS
WITH CountCheckStepI ( [SumCountRowID], [Symbol], [Date], [TimeInterval], [TodayDate], [CheckSumCountRowID] )
AS
(
    SELECT [SumCountRowID]
          ,h.[Symbol] AS [Symbol]
          ,[Date]
          ,[TimeInterval]
          , FORMAT(GETDATE(), 'yyyyMMdd') AS TodayDate
          , CASE WHEN [TimeInterval] = '1D' THEN CAST(1 AS int) 
                 WHEN [TimeInterval] = '30S' THEN CAST(6.5*60*2 AS int)
                 WHEN [TimeInterval] = '5S' THEN CAST(6.5*60*12 AS int)
                 ELSE -1
            END AS [CheckSumCountRowID]
      FROM [testdevrdbms].[dbo].[HistoricalDataProfile2] h
      JOIN [QQQSymbols] s ON s.Symbol =  h.Symbol
--  ORDER  BY [Symbol] ASC,[Date] ASC,[TimeInterval] ASC
),
CountCheckStepII ( [SumCountRowID], [Symbol], [Date], [TimeInterval], [TodayDate], [CheckSumCountRowID], Error ) 
AS 
(
    SELECT 
          [SumCountRowID]
        , [Symbol]
        , [Date]
        , [TimeInterval]
        , [TodayDate]
        , [CheckSumCountRowID]
        , CASE WHEN [CheckSumCountRowID] <> [SumCountRowID] THEN 'ERROR' 
               ELSE ''
          END AS Error
    FROM CountCheckStepI
)
SELECT * 
FROM CountCheckStepII WHERE Error <> ''
GO
