USE [testdevrdbms]
GO
/****** Object:  View [dbo].[LatestFundHoldings]    Script Date: 8/12/2025 1:30:02 PM ******/
DROP VIEW [dbo].[LatestFundHoldings]
GO
/****** Object:  View [dbo].[LatestFundHoldings]    Script Date: 8/12/2025 1:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LatestFundHoldings] AS
WITH MaxDateCTE (RowID, MaxDate ) AS 
(
    SELECT MAX(RowID) as RowID, [Date] AS MaxDate
    FROM [testdevrdbms].[dbo].[FundHoldings]
    GROUP BY [Date]
)
SELECT 
           f.[RowID]
          ,[Fund]
          ,[Symbol]
          ,[SecurityIdentifier]
          ,[_SharesParValue]
          ,[_MarketValue]
          ,[_Weight]
          ,[Name]
          ,[Sector]
          ,[Date]
          ,[SharesParValue]
          ,[MarketValue]
          ,[Weight]
FROM [testdevrdbms].[dbo].[FundHoldings] f
JOIN MaxDateCTE m ON ( f.[Date] = m.[MaxDate] )
GO
