USE [testdevrdbms]
GO
/****** Object:  View [dbo].[QQQSymbols]    Script Date: 8/12/2025 1:30:02 PM ******/
DROP VIEW [dbo].[QQQSymbols]
GO
/****** Object:  View [dbo].[QQQSymbols]    Script Date: 8/12/2025 1:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[QQQSymbols] AS
WITH QQQTopSymbols ([RowID])
AS 
(
    SELECT TOP 19 [RowID]
    FROM [testdevrdbms].[dbo].[LatestFundHoldings]
    ORDER BY [Weight] DESC, [Symbol] ASC
)
SELECT [Symbol]
FROM [testdevrdbms].[dbo].[LatestFundHoldings] h
JOIN QQQTopSymbols s ON ( s.RowID = h.RowID )
--ORDER BY [Symbol] ASC
GO
