USE [testdevrdbms]
GO
/****** Object:  View [dbo].[HistoricalDataProfile2]    Script Date: 8/12/2025 1:30:02 PM ******/
DROP VIEW [dbo].[HistoricalDataProfile2]
GO
/****** Object:  View [dbo].[HistoricalDataProfile2]    Script Date: 8/12/2025 1:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[HistoricalDataProfile2] AS
SELECT SUM([CountRowID]) AS [SumCountRowID]
      ,[Symbol]
      ,[Date]
      ,[TimeInterval]
  FROM [testdevrdbms].[dbo].[HistoricalDataProfile]
  --WHERE [Symbol] = 'AAPL'
  GROUP BY [Symbol], [Date], [TimeInterval]

GO
