USE [testdevrdbms]
GO
/****** Object:  View [dbo].[HistoricalDataDupRowID]    Script Date: 8/12/2025 1:30:02 PM ******/
DROP VIEW [dbo].[HistoricalDataDupRowID]
GO
/****** Object:  View [dbo].[HistoricalDataDupRowID]    Script Date: 8/12/2025 1:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[HistoricalDataDupRowID] AS
WITH DuplicateCount ( DupCount, LatestLoadDateTime, Symbol, [Date], [Time], TimeInterval ) AS
(
    SELECT COUNT([RowID]) AS DupCount
          , MAX([LoadDateTime]) AS LatestLoadDateTime
          ,[Symbol]
          ,[Date]
          ,COALESCE([Time],'') AS [Time]
          ,[TimeInterval]
    FROM [testdevrdbms].[dbo].[HistoricalData]
    GROUP BY       [Symbol]
          ,[Date]
          ,[Time]
          ,[TimeInterval]
    HAVING COUNT([RowID]) > 1
)
SELECT 
    h.[RowID] AS DupRowID, 
    h.[LoadDateTime], 
    dp.[LatestLoadDateTime], 
    h.[Symbol], 
    h.[Date], 
    h.[Time], 
    h.[TimeInterval]
FROM DuplicateCount dp
JOIN [testdevrdbms].[dbo].[HistoricalData] h ON (
    h.[Symbol]         = dp.[Symbol]
AND h.[Date]           = dp.[Date]
AND h.[Time]           = dp.[Time]
AND h.[TimeInterval]   = dp.[TimeInterval]
)
WHERE LatestLoadDateTime <> LoadDateTime
--ORDER BY dp.[Symbol] ASC, dp.[Date] ASC, dp.[Time] ASC, dp.[TimeInterval] ASC

GO
