USE [testdevrdbms]
GO
/****** Object:  Table [dbo].[FundHoldings]    Script Date: 8/12/2025 1:30:02 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FundHoldings]') AND type in (N'U'))
DROP TABLE [dbo].[FundHoldings]
GO
/****** Object:  Table [dbo].[FundHoldings]    Script Date: 8/12/2025 1:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FundHoldings](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[Fund] [varchar](200) NULL,
	[SecurityIdentifier] [varchar](200) NULL,
	[Symbol] [varchar](200) NULL,
	[_SharesParValue] [varchar](200) NULL,
	[_MarketValue] [varchar](200) NULL,
	[_Weight] [varchar](200) NULL,
	[Name] [varchar](200) NULL,
	[Sector] [varchar](200) NULL,
	[Date] [varchar](200) NULL,
	[SharesParValue]  AS (CONVERT([int],[_SharesParValue])),
	[MarketValue]  AS (CONVERT([decimal](38,2),[_MarketValue])),
	[Weight]  AS (CONVERT([decimal](10,2),[_Weight]))
) ON [PRIMARY]
GO
