USE [testdevrdbms]
GO
/****** Object:  StoredProcedure [dbo].[DeleteDupHistoricalData]    Script Date: 8/12/2025 1:30:02 PM ******/
DROP PROCEDURE [dbo].[DeleteDupHistoricalData]
GO
/****** Object:  StoredProcedure [dbo].[DeleteDupHistoricalData]    Script Date: 8/12/2025 1:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteDupHistoricalData]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DELETE [testdevrdbms].[dbo].[HistoricalData]
	FROM [testdevrdbms].[dbo].[HistoricalData] dh
	JOIN [testdevrdbms].[dbo].[HistoricalDataDupRowID] ddh ON ( dh.RowID = ddh.DupRowID )

END
GO
